h1 {
	color : #ff6a6a;
	text-align: center;
	font-family: Courier; 
}

p {
	font-size: 20px;
	font-family: Courier;
}

.subtitle {
	font-family: Courier;
	font-size: 18px;
	color : #ff6a6a;


}

.title {
	font-family: Courier;
	font-size: 19px;
	color : #ff6a6a;

}

body {
	background:#e1f4fd; 
}

img { 
   border:3px solid #ff6a6a;
}

.PictureEdits {
	position: relative;
	border: ;
}